@inherits LayoutComponentBase
@inject IThemeService ThemeService

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" 
                       Color="Color.Inherit" 
                       Edge="Edge.Start"
                       OnClick="@(() => DrawerToggle())" />
        <MudText Typo="Typo.h6">CIPP - Cyberdrain Improved Partner Portal</MudText>
        <MudSpacer />
        <LoginDisplay />
        <MudIconButton Icon="@DarkLightModeButtonIcon" 
                       Color="Color.Inherit" 
                       Edge="Edge.End"
                       OnClick="@(() => ThemeService.ToggleThemeAsync())" />
    </MudAppBar>
    
    <MudDrawer @bind-Open="@_drawerOpen" 
               ClipMode="DrawerClipMode.Always" 
               Elevation="1">
        <div class="pa-4">
            <MudText Typo="Typo.h6" Color="Color.Primary">Navigation</MudText>
        </div>
        <NavMenu />
    </MudDrawer>
    
    <MudMainContent>
        <div class="pa-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
    private bool _drawerOpen = true;

    private void DrawerToggle() {
        _drawerOpen = !_drawerOpen;
    }

    public string DarkLightModeButtonIcon => ThemeService.IsDarkMode switch {
        true => Icons.Material.Outlined.LightMode,
        false => Icons.Material.Outlined.DarkMode,
    };
}
